<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ARM_Delivery.Properties.Settings.ARM_DeliveryConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\ARM Delivery.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ARM_Delivery.Properties.Settings.ARM_Delivery___копияConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\ARM Delivery — копия.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ARM_Delivery.Properties.Settings._02_02_00_009_Baza_ruConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\02_02_00_009_Baza_ru.mdb"
            providerName="System.Data.OleDb" />
        <add name="ARM_Delivery.Properties.Settings.Microsoft_Access_Database__2_ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Microsoft Access Database (2).accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ARM_Delivery.Properties.Settings.ARM_DeliveryConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ARM_Delivery.mdb"
            providerName="System.Data.OleDb" />
        <add name="ARM_Delivery.Properties.Settings.ARM_Delivery_орига___копияConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\ARM_Delivery орига — копия.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ARM_Delivery.Properties.Settings.ARM_Delivery_орига___копия1211221ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\ARM_Delivery орига — копия1211221.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ARM_Delivery.Properties.Settings.ARM_Delivery_орига___копия__2_ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\ARM_Delivery орига — копия (2).mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ARM_Delivery.Properties.Settings.ARMConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ARM.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>